.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

#carrinho {
    height: 310px;
}

.item {
    list-style: none;
    padding: 10px;
    font-size: 18px;
}

.item:hover {
    border-left: 2px solid #5bc0de;
}
